In [1]:
!rm BD/MadresSolteras.csv
!rm BD/EstructuraFamiliar.csv
!rm BD/RegresionLineal.csv

rm: BD/MadresSolteras.csv: No such file or directory
rm: BD/EstructuraFamiliar.csv: No such file or directory
rm: BD/RegresionLineal.csv: No such file or directory

### Crea la conexión con el gestor de BD

In [2]:
## cell magic
%reload_ext sql
## conexión a la base de datos
%sql mysql+pymysql://root:sistemas@localhost

/Users/sebastian/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

'Connected: root@None'

### Crea el archivo de los hijos de las posibles madres solteras

In [3]:
%%bash
# Hijos de posibles madres solteras
echo "ORDEN,ANOS,PADRE,MADRE,MADRENO,LLAVELOG" > hijosPosiblesMadres.csv
cut -d, -f4,8,20,23,24,38 BD/Caracteristicas\ y\ composicion\ del\ hogar.csv | grep -E '^[0-9]*\,([0-9]|1[0-9]|2[0-5])\,(2|3)\,1\,[0-9]*\,[0-9]*' | tr -d '"' >> hijosPosiblesMadres.csv

### Crea el archivo del id person e id familia a la que pertenece las posibles madres solteras

In [4]:
%%bash
# Posibles madres solteras
cut -d, -f5,6 hijosPosiblesMadres.csv | uniq | sed 's/MADRENO/ORDEN/g'> ordenMadres.csv

### Extrae el id persona, estado civil y id familia de todas las personas

In [5]:
%%bash
# Orden, estado civil y llave hogar 
cut -d, -f4,10,38 BD/Caracteristicas\ y\ composicion\ del\ hogar.csv | tr -d '"'> OrdenPersonasTemp.csv
sed 's/[0-9]*\.[0-9]*[a-z]*\+[0-9]*/0/' OrdenPersonasTemp.csv | sed 's/\+[0-9]*//' > OrdenPersonas.csv
rm OrdenPersonasTemp.csv

### Crea la BD familia en el gestor de BD

In [6]:
%sql DROP DATABASE IF EXISTS familia;
%sql CREATE DATABASE familia;
%sql USE familia;

 * mysql+pymysql://root:***@localhost
5 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

### Crea las tablas posiblesMadres y Personas

In [7]:
%sql DROP TABLE IF EXISTS PosiblesMadres;
%sql DROP TABLE IF EXISTS Personas;
%sql CREATE TABLE PosiblesMadres(ORDEN INT, LLAVEHOG INT);
%sql CREATE TABLE Personas(ORDEN INT, P5502 INT NULL, LLAVEHOG INT);

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost

/Users/sebastian/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'familia.posiblesmadres'")
  result = self._query(query)

0 rows affected.
 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
0 rows affected.

/Users/sebastian/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'familia.personas'")
  result = self._query(query)

[]

### Carga los archivos de los anteriores archivos a las respectivas tablas

In [8]:
%sql LOAD DATA INFILE '/Users/sebastian/Codigos/TAE/Regresion\ lineal\ madres\ solteras/ordenMadres.csv' INTO TABLE PosiblesMadres FIELDS TERMINATED BY ',' LINES TERMINATED by '\n'  IGNORE 1 LINES (ORDEN, LLAVEHOG);
%sql LOAD DATA INFILE '/Users/sebastian/Codigos/TAE/Regresion\ lineal\ madres\ solteras/OrdenPersonas.csv' INTO TABLE Personas FIELDS TERMINATED BY ',' LINES TERMINATED by '\n'  IGNORE 1 LINES (ORDEN, P5502, LLAVEHOG);

 * mysql+pymysql://root:***@localhost
3676 rows affected.
 * mysql+pymysql://root:***@localhost
40359 rows affected.

[]

### Prueba del Join para saber cuales son las mujeres que son Madres Solteras

In [9]:
%%sql

SELECT PM.ORDEN, PM.LLAVEHOG, P5502 as Estado_Civil
FROM PosiblesMadres as PM INNER JOIN Personas as P ON (PM.ORDEN = P.ORDEN and PM.LLAVEHOG = P.LLAVEHOG)
WHERE P5502 = 3 or P5502 = 4 or P5502 = 5

 * mysql+pymysql://root:***@localhost
2521 rows affected.

[(3, 60000001, 4),
 (1, 60000021, 4),
 (3, 60000051, 4),
 (2, 60000131, 5),
 (5, 60000191, 4),
 (5, 60000301, 4),
 (3, 60000311, 5),
 (1, 60000341, 4),
 (1, 60000361, 4),
 (5, 60000361, 4),
 (2, 60000521, 5),
 (1, 60000531, 5),
 (1, 60000561, 5),
 (3, 60000561, 5),
 (1, 60000711, 4),
 (3, 60000711, 4),
 (1, 60000741, 5),
 (1, 60000881, 3),
 (1, 60000901, 4),
 (2, 60000901, 4),
 (2, 60000911, 4),
 (5, 60000991, 4),
 (6, 60001061, 4),
 (1, 60001101, 4),
 (2, 60001121, 4),
 (1, 60001181, 4),
 (1, 60001281, 4),
 (1, 60001291, 5),
 (1, 60001301, 4),
 (3, 60001301, 4),
 (1, 60001321, 4),
 (3, 60001321, 4),
 (3, 60001341, 5),
 (1, 60001381, 5),
 (5, 60001411, 5),
 (1, 60001531, 4),
 (1, 60001541, 4),
 (1, 60001591, 4),
 (2, 60001791, 4),
 (1, 60001851, 5),
 (1, 60001871, 4),
 (4, 60001871, 5),
 (2, 60001911, 4),
 (1, 60001921, 5),
 (1, 60001971, 5),
 (1, 60002041, 4),
 (1, 60002081, 4),
 (4, 60002131, 4),
 (2, 60002161, 4),
 (7, 60002201, 4),
 (3, 60002451, 5),
 (1, 60002461, 5),
 (4, 60002631, 4),
 (1, 60002721, 3),
 (2, 60002741, 4),
 (2, 60002771, 4),
 (4, 60002801, 5),
 (4, 60002831, 4),
 (1, 60002911, 4),
 (1, 60002931, 4),
 (1, 60003041, 4),
 (1, 60003091, 4),
 (1, 60003112, 4),
 (1, 60003131, 5),
 (2, 60003151, 5),
 (1, 60003201, 5),
 (1, 60003301, 4),
 (1, 60003321, 4),
 (5, 60003431, 4),
 (4, 60003471, 4),
 (1, 60003511, 4),
 (2, 60003511, 5),
 (1, 60003551, 4),
 (3, 60003551, 5),
 (1, 60003611, 3),
 (1, 60003681, 5),
 (4, 60003691, 5),
 (1, 60003741, 4),
 (3, 60003871, 4),
 (1, 60003961, 3),
 (1, 60004012, 4),
 (1, 60004111, 4),
 (1, 60004121, 5),
 (1, 60004163, 4),
 (2, 60004163, 4),
 (1, 60004241, 5),
 (1, 60004331, 3),
 (4, 60004331, 5),
 (1, 60004551, 4),
 (1, 60004601, 5),
 (1, 60004611, 4),
 (1, 60004631, 5),
 (5, 60004641, 5),
 (1, 60004721, 4),
 (1, 60004731, 4),
 (3, 60004771, 5),
 (3, 60004841, 5),
 (1, 60004861, 4),
 (3, 60004881, 5),
 (4, 60004981, 5),
 (1, 60005031, 5),
 (2, 60005071, 4),
 (1, 60005132, 4),
 (1, 60005181, 4),
 (1, 60005251, 4),
 (3, 60005251, 5),
 (3, 60005261, 5),
 (2, 60005291, 4),
 (1, 60005341, 4),
 (1, 60005521, 4),
 (1, 60005581, 4),
 (1, 60005691, 3),
 (1, 60005711, 5),
 (1, 60005721, 4),
 (1, 60005851, 4),
 (1, 60006031, 4),
 (2, 60006061, 5),
 (1, 60006091, 4),
 (3, 60006131, 4),
 (1, 60006151, 4),
 (1, 60006201, 4),
 (1, 60006321, 4),
 (1, 60006401, 5),
 (2, 60006611, 3),
 (5, 60006621, 5),
 (5, 60006661, 4),
 (7, 60006661, 5),
 (1, 60006731, 4),
 (2, 60006841, 5),
 (1, 60006921, 5),
 (1, 60006961, 5),
 (1, 60007051, 5),
 (1, 60007171, 3),
 (1, 60007201, 5),
 (1, 60007281, 5),
 (4, 60007301, 4),
 (1, 60007311, 4),
 (3, 60007351, 5),
 (1, 60007431, 4),
 (1, 60007481, 3),
 (4, 60007481, 4),
 (1, 60007571, 4),
 (1, 60007581, 4),
 (7, 60007631, 4),
 (3, 60007701, 4),
 (2, 60007751, 4),
 (1, 60007841, 4),
 (4, 60007841, 5),
 (1, 60007921, 4),
 (4, 60007941, 4),
 (4, 60008231, 4),
 (4, 60008231, 4),
 (5, 60008231, 5),
 (1, 60008232, 4),
 (1, 60008233, 4),
 (1, 60008241, 4),
 (2, 60008251, 5),
 (2, 60008291, 4),
 (3, 60008301, 5),
 (10, 60008311, 4),
 (13, 60008311, 4),
 (1, 60008391, 4),
 (4, 60008391, 4),
 (8, 60008391, 4),
 (1, 60008421, 4),
 (3, 60008421, 4),
 (7, 60008431, 4),
 (3, 60008451, 4),
 (7, 60008451, 4),
 (1, 60008491, 4),
 (4, 60008521, 4),
 (2, 60008641, 5),
 (1, 60008711, 4),
 (1, 60008731, 4),
 (1, 60008851, 4),
 (1, 60009021, 4),
 (2, 60009061, 4),
 (1, 60009071, 4),
 (1, 60009111, 4),
 (1, 60009111, 4),
 (4, 60009111, 4),
 (6, 60009121, 5),
 (1, 60009141, 3),
 (3, 60009231, 5),
 (6, 60009231, 4),
 (1, 60009241, 5),
 (1, 60009281, 4),
 (4, 60009341, 5),
 (1, 60009531, 4),
 (3, 60009551, 4),
 (1, 60009591, 4),
 (3, 60009591, 4),
 (1, 60009641, 3),
 (4, 60009731, 4),
 (1, 60009781, 4),
 (1, 60009791, 4),
 (1, 60009861, 4),
 (1, 60010061, 3),
 (1, 60010131, 4),
 (1, 60010151, 4),
 (1, 60010341, 4),
 (1, 60010351, 3),
 (1, 60010461, 5),
 (1, 60010501, 5),
 (1, 60010561, 4),
 (1, 60010671, 4),
 (1, 60010701, 4),
 (1, 60010761, 5),
 (1, 60010871, 5),
 (1, 60010881, 5),
 (1, 60010891, 5),
 (3, 60010891, 4),
 (2, 60010931, 4),
 (1, 60010941, 4),
 (1, 60010981, 4),
 (1, 60011001, 3),
 (1, 60011021, 5),
 (1, 60011031, 3),
 (1, 60011091, 5),
 (1, 60011231, 4),
 (2, 60011261, 5),
 (1, 60011321, 4),
 (1, 60011541, 3),
 (3, 60011541, 5),
 (1, 60011671, 5),
 (2, 60011701, 4),
 (1, 60011711, 4),
 (4, 60011711, 5),
 (1, 60011731, 3),
 (1, 60011771, 5),
 (1, 60011801, 4),
 (1, 60011891, 5),
 (1, 60012221, 4),
 (1, 60012351, 4),
 (3, 60012361, 5),
 (1, 60012411, 4),
 (5, 60012411, 4),
 (6, 60012421, 5),
 (1, 60012451, 3),
 (1, 60012501, 3),
 (1, 60012521, 4),
 (1, 60012551, 4),
 (1, 60012561, 4),
 (1, 60012571, 5),
 (1, 60013281, 4),
 (1, 60013301, 5),
 (5, 60013321, 4),
 (3, 60013461, 5),
 (3, 60013471, 5),
 (1, 60013491, 5),
 (1, 60013571, 5),
 (1, 60013611, 4),
 (1, 60013701, 5),
 (4, 60013701, 5),
 (6, 60013771, 5),
 (1, 60013831, 4),
 (1, 60013841, 5),
 (1, 60014011, 5),
 (1, 60014071, 4),
 (1, 60014111, 4),
 (1, 60014151, 4),
 (3, 60014151, 4),
 (1, 60014261, 4),
 (1, 60014411, 3),
 (3, 60014411, 4),
 (3, 60014491, 4),
 (1, 60014641, 4),
 (1, 60014681, 5),
 (1, 60014691, 4),
 (2, 60014721, 3),
 (3, 60014741, 4),
 (1, 60014771, 4),
 (1, 60014801, 5),
 (1, 60015051, 4),
 (3, 60015101, 4),
 (1, 60015131, 4),
 (1, 60015151, 4),
 (1, 60015201, 4),
 (3, 60015271, 5),
 (3, 60015291, 4),
 (1, 60015331, 4),
 (2, 60015451, 4),
 (3, 60015511, 4),
 (2, 60015781, 4),
 (3, 60015831, 3),
 (1, 60015901, 4),
 (4, 60015901, 5),
 (2, 60015951, 4),
 (3, 60016011, 4),
 (5, 60016051, 4),
 (1, 60016071, 4),
 (2, 60016091, 4),
 (3, 60016101, 5),
 (1, 60016411, 4),
 (3, 60016561, 3),
 (6, 60016571, 4),
 (1, 60016701, 4),
 (2, 60016751, 4),
 (1, 60016851, 4),
 (1, 60016881, 3),
 (2, 60016881, 4),
 (2, 60016921, 5),
 (1, 60016931, 4),
 (2, 60016931, 4),
 (4, 60016941, 4),
 (1, 60016991, 4),
 (1, 60017011, 4),
 (1, 60017071, 4),
 (2, 60017091, 4),
 (1, 60017201, 4),
 (5, 60017241, 4),
 (2, 60017281, 4),
 (1, 60017311, 4),
 (1, 60017391, 4),
 (1, 60017471, 4),
 (1, 60017491, 4),
 (3, 60017501, 4),
 (1, 60017681, 4),
 (1, 60017691, 4),
 (1, 60017811, 4),
 (1, 60017851, 4),
 (1, 60017871, 4),
 (1, 60017921, 4),
 (1, 60017991, 5),
 (1, 60018201, 3),
 (1, 60018301, 5),
 (1, 60018421, 5),
 (1, 60018471, 4),
 (1, 60018511, 3),
 (1, 60018591, 5),
 (2, 60018631, 5),
 (1, 60018641, 5),
 (1, 60018661, 4),
 (1, 60018731, 5),
 (4, 60018881, 5),
 (1, 60018921, 4),
 (4, 60019051, 4),
 (1, 60019131, 3),
 (1, 60019291, 5),
 (4, 60019471, 4),
 (1, 60019511, 4),
 (1, 60019561, 4),
 (1, 60019721, 4),
 (1, 60019821, 4),
 (1, 60019861, 4),
 (4, 60019861, 4),
 (1, 60019981, 4),
 (2, 60020091, 4),
 (1, 60020181, 4),
 (1, 60020191, 4),
 (1, 60020211, 5),
 (1, 60020221, 5),
 (3, 60020271, 5),
 (1, 60020341, 5),
 (1, 60020391, 4),
 (1, 60020511, 4),
 (1, 60020561, 4),
 (1, 60020791, 4),
 (1, 60020811, 4),
 (1, 60020861, 5),
 (2, 60020861, 5),
 (4, 60020861, 5),
 (4, 60020871, 5),
 (4, 60020881, 5),
 (4, 60020891, 5),
 (1, 60020911, 4),
 (4, 60020921, 5),
 (1, 60021071, 4),
 (1, 60021101, 4),
 (1, 60021111, 4),
 (1, 60021121, 4),
 (1, 60021151, 4),
 (1, 60021181, 3),
 (1, 60021211, 4),
 (1, 60021221, 4),
 (1, 60021231, 4),
 (1, 60021281, 4),
 (1, 60021291, 4),
 (1, 60021301, 3),
 (1, 60021511, 4),
 (1, 60021541, 4),
 (1, 60021571, 3),
 (1, 60021581, 3),
 (1, 60021601, 5),
 (1, 60021641, 5),
 (1, 60021681, 4),
 (1, 60021711, 3),
 (3, 60021711, 4),
 (1, 60021721, 5),
 (3, 60021851, 5),
 (1, 60022031, 5),
 (4, 60022141, 4),
 (1, 60022191, 4),
 (2, 60022201, 4),
 (1, 60022341, 4),
 (1, 60022381, 3),
 (1, 60022431, 4),
 (1, 60022451, 4),
 (1, 60022461, 3),
 (1, 60022511, 4),
 (1, 60022561, 4),
 (2, 60022571, 5),
 (4, 60022621, 4),
 (2, 60022661, 3),
 (4, 60022691, 3),
 (1, 60022761, 5),
 (1, 60022781, 5),
 (2, 60022911, 5),
 (1, 60022931, 4),
 (2, 60022951, 4),
 (1, 60022961, 4),
 (1, 60022981, 4),
 (1, 60023051, 4),
 (1, 60023111, 4),
 (1, 60023171, 4),
 (2, 60023181, 5),
 (4, 60023181, 3),
 (1, 60023281, 5),
 (2, 60023321, 4),
 (5, 60023321, 5),
 (2, 60023401, 3),
 (1, 60023421, 4),
 (1, 60023421, 4),
 (6, 60023421, 5),
 (3, 60023551, 5),
 (1, 60023571, 4),
 (2, 60023691, 4),
 (2, 60023711, 4),
 (1, 60023731, 4),
 (1, 60023781, 4),
 (5, 60023841, 5),
 (1, 60023871, 4),
 (3, 60023871, 4),
 (1, 60023881, 4),
 (1, 60023921, 4),
 (2, 60023941, 4),
 (4, 60023941, 4),
 (4, 60024071, 5),
 (2, 60024081, 4),
 (1, 60024121, 4),
 (1, 60024131, 4),
 (1, 60024531, 4),
 (3, 60024581, 4),
 (2, 60024601, 4),
 (9, 60024611, 5),
 (4, 60024671, 4),
 (1, 60024701, 4),
 (1, 60024711, 4),
 (1, 60024732, 4),
 (1, 60024733, 4),
 (1, 60024801, 4),
 (2, 60024841, 3),
 (1, 60024881, 4),
 (1, 60024941, 4),
 (4, 60025031, 4),
 (1, 60025041, 3),
 (1, 60025061, 4),
 (1, 60025191, 5),
 (1, 60025231, 4),
 (5, 60025241, 4),
 (4, 60025261, 5),
 (1, 60025271, 3),
 (1, 60025321, 4),
 (4, 60025321, 5),
 (2, 60025351, 4),
 (1, 60025361, 4),
 (1, 60025371, 4),
 (2, 60025371, 5),
 (1, 60025391, 4),
 (4, 60025391, 5),
 (4, 60025411, 5),
 (6, 60025411, 5),
 (3, 60025481, 4),
 (1, 60025521, 5),
 (1, 60025541, 3),
 (1, 60025551, 4),
 (1, 60025571, 5),
 (1, 60025572, 5),
 (1, 60025581, 5),
 (1, 60025591, 4),
 (2, 60025621, 5),
 (1, 60025631, 4),
 (1, 60025661, 4),
 (5, 60025741, 4),
 (1, 60025771, 3),
 (1, 60025931, 5),
 (1, 60026061, 5),
 (1, 60026191, 3),
 (1, 60026211, 4),
 (1, 60026311, 5),
 (1, 60026351, 5),
 (3, 60026351, 5),
 (1, 60026371, 4),
 (1, 60026391, 5),
 (1, 60026411, 5),
 (1, 60026481, 5),
 (1, 60026571, 4),
 (2, 60026601, 5),
 (3, 60026601, 5),
 (1, 60026621, 4),
 (2, 60026691, 5),
 (1, 60026821, 4),
 (2, 60026921, 5),
 (1, 60026931, 5),
 (1, 60026951, 4),
 (2, 60026961, 4),
 (1, 60026991, 4),
 (3, 60027001, 5),
 (1, 60027121, 4),
 (1, 60027141, 5),
 (1, 60027161, 4),
 (2, 60027261, 5),
 (5, 60027281, 5),
 (1, 60027321, 4),
 (4, 60027441, 5),
 (1, 60027691, 3),
 (3, 60027711, 4),
 (1, 60027781, 3),
 (1, 60027831, 5),
 (2, 60027851, 5),
 (2, 60027871, 4),
 (3, 60027961, 5),
 (1, 60028051, 3),
 (3, 60028061, 4),
 (1, 60028221, 3),
 (6, 60028321, 5),
 (1, 60028521, 4),
 (2, 60028601, 5),
 (4, 60028801, 4),
 (1, 60028841, 4),
 (1, 60028931, 3),
 (1, 60029091, 4),
 (2, 60029231, 3),
 (2, 60029281, 5),
 (1, 60029411, 4),
 (5, 60029411, 4),
 (1, 60029421, 4),
 (1, 60029431, 5),
 (1, 60029471, 4),
 (2, 60029481, 5),
 (1, 60029621, 4),
 (3, 60029621, 4),
 (1, 60029631, 4),
 (3, 60029631, 4),
 (1, 60029641, 4),
 (3, 60029721, 5),
 (1, 60029751, 4),
 (3, 60029811, 5),
 (1, 60029881, 5),
 (1, 60029941, 4),
 (1, 60029971, 4),
 (1, 60030061, 4),
 (1, 60030081, 4),
 (4, 60030091, 5),
 (5, 60030091, 4),
 (1, 60030121, 5),
 (1, 60030181, 4),
 (1, 60030321, 4),
 (2, 60030321, 5),
 (1, 60030381, 4),
 (2, 60030391, 3),
 (1, 60030411, 4),
 (1, 60030461, 4),
 (3, 60030461, 5),
 (1, 60030471, 4),
 (5, 60030481, 5),
 (1, 60030521, 4),
 (1, 60030671, 4),
 (2, 60030671, 4),
 (6, 60030671, 4),
 (1, 60030751, 4),
 (2, 60030771, 4),
 (2, 60030951, 4),
 (1, 60031011, 4),
 (1, 60031031, 4),
 (1, 60031071, 4),
 (1, 60031101, 4),
 (4, 60031101, 4),
 (2, 60031331, 4),
 (1, 60031411, 5),
 (1, 60031621, 4),
 (1, 60031641, 4),
 (2, 60031711, 4),
 (1, 60031731, 4),
 (1, 60031791, 4),
 (1, 60031861, 4),
 (1, 60032001, 4),
 (1, 60032113, 5),
 (3, 60032131, 4),
 (1, 60032161, 4),
 (2, 60032161, 5),
 (5, 60032231, 4),
 (1, 60032271, 4),
 (1, 60032301, 4),
 (3, 60032301, 4),
 (4, 60032331, 5),
 (3, 60032341, 4),
 (2, 60032491, 5),
 (4, 60032491, 5),
 (1, 60032611, 4),
 (1, 60032731, 4),
 (1, 60032781, 4),
 (1, 60032821, 4),
 (3, 60032831, 5),
 (4, 60032911, 4),
 (2, 60033211, 4),
 (1, 60033221, 5),
 (3, 60033221, 5),
 (1, 60033351, 4),
 (1, 60033461, 4),
 (1, 60033471, 4),
 (1, 60033551, 3),
 (5, 60033561, 4),
 (1, 60033611, 4),
 (5, 60033631, 4),
 (1, 60033651, 4),
 (1, 60033671, 4),
 (2, 60033731, 5),
 (1, 60033741, 3),
 (1, 60033781, 4),
 (8, 60033821, 4),
 (1, 60033921, 3),
 (2, 60033951, 4),
 (1, 60033971, 4),
 (3, 60034001, 4),
 (1, 60034011, 4),
 (1, 60034021, 4),
 (1, 60034171, 4),
 (3, 60034401, 5),
 (3, 60034461, 4),
 (1, 60034521, 4),
 (3, 60034541, 4),
 (4, 60034551, 5),
 (4, 60034611, 4),
 (1, 60034691, 4),
 (1, 60034751, 5),
 (1, 60034791, 4),
 (1, 60034801, 4),
 (1, 60034891, 4),
 (1, 60035001, 4),
 (1, 60035141, 5),
 (4, 60035191, 4),
 (1, 60035261, 4),
 (2, 60035271, 4),
 (1, 60035361, 4),
 (3, 60035361, 5),
 (4, 60035451, 5),
 (1, 60035481, 4),
 (13, 60035721, 5),
 (2, 60035821, 5),
 (1, 60035991, 5),
 (6, 60036171, 4),
 (9, 60036171, 4),
 (4, 60036261, 4),
 (1, 60036501, 5),
 (1, 60036631, 4),
 (1, 60036711, 4),
 (2, 60036711, 4),
 (1, 60036771, 4),
 (1, 60036851, 5),
 (1, 60036961, 4),
 (5, 60037031, 4),
 (4, 60037061, 4),
 (1, 60037121, 5),
 (2, 60037181, 4),
 (2, 60037311, 4),
 (4, 60037321, 4),
 (8, 60037321, 4),
 (1, 60037471, 4),
 (1, 60037491, 4),
 (2, 60037491, 4),
 (9, 60037571, 4),
 (3, 60037651, 3),
 (5, 60037651, 4),
 (1, 60037662, 4),
 (6, 60037801, 4),
 (9, 60037801, 4),
 (1, 60037951, 4),
 (1, 60038001, 4),
 (7, 60038141, 4),
 (1, 60038321, 4),
 (1, 60038331, 4),
 (1, 60038411, 4),
 (3, 60038571, 4),
 (4, 60038601, 4),
 (1, 60038711, 4),
 (1, 60038771, 3),
 (5, 60038811, 4),
 (6, 60038901, 4),
 (1, 60038991, 3),
 (1, 60038991, 3),
 (3, 60038991, 4),
 (9, 60038991, 4),
 (2, 60039051, 4),
 (1, 60039071, 4),
 (2, 60039091, 4),
 (1, 60039101, 4),
 (1, 60039111, 4),
 (4, 60039161, 3),
 (1, 60039301, 4),
 (1, 60039351, 4),
 (8, 60039391, 5),
 (1, 60039401, 4),
 (1, 60039631, 4),
 (1, 60039651, 4),
 (1, 60039671, 4),
 (1, 60039751, 4),
 (1, 60039811, 3),
 (3, 60039941, 5),
 (1, 60040111, 5),
 (1, 60040151, 3),
 (1, 60040191, 4),
 (1, 60040201, 4),
 (1, 60040281, 5),
 (3, 60040291, 5),
 (1, 60040381, 4),
 (1, 60040721, 5),
 (2, 60040991, 5),
 (2, 60041191, 4),
 (1, 60041261, 5),
 (1, 60041331, 4),
 (1, 60041511, 3),
 (1, 60041571, 3),
 (3, 60041571, 4),
 (1, 60041651, 4),
 (1, 60041663, 4),
 (1, 60041671, 5),
 (2, 60041711, 4),
 (1, 60041751, 3),
 (2, 60041781, 3),
 (1, 60041811, 4),
 (1, 60041891, 4),
 (4, 60041931, 5),
 (3, 60042051, 5),
 (1, 60042061, 5),
 (1, 60042141, 3),
 (1, 60042221, 5),
 (1, 60042441, 5),
 (3, 60042501, 5),
 (3, 60042691, 5),
 (1, 60042741, 4),
 (1, 60042771, 5),
 (1, 60042781, 4),
 (1, 60042841, 3),
 (1, 60042951, 3),
 (3, 60042951, 5),
 (1, 60042971, 4),
 (1, 60043111, 3),
 (1, 60043141, 4),
 (1, 60043181, 3),
 (3, 60043181, 4),
 (1, 60043271, 4),
 (1, 60043291, 3),
 (3, 60043301, 4),
 (1, 60043331, 4),
 (1, 60043431, 4),
 (1, 60043541, 4),
 (1, 60043561, 4),
 (2, 60043651, 4),
 (1, 60043681, 4),
 (1, 60043691, 3),
 (1, 60043781, 4),
 (1, 60043881, 4),
 (3, 60043881, 4),
 (1, 60043941, 4),
 (2, 60043991, 4),
 (1, 60044001, 4),
 (2, 60044001, 5),
 (1, 60044021, 4),
 (1, 60044031, 5),
 (2, 60044071, 4),
 (1, 60044091, 4),
 (2, 60044151, 4),
 (1, 60044161, 4),
 (4, 60044241, 5),
 (1, 60044391, 4),
 (1, 60044411, 5),
 (1, 60044561, 4),
 (1, 60044651, 3),
 (1, 60044861, 4),
 (1, 60044941, 3),
 (1, 60044991, 4),
 (1, 60045011, 5),
 (1, 60045091, 5),
 (1, 60045111, 3),
 (1, 60045131, 4),
 (5, 60045231, 4),
 (1, 60045241, 5),
 (1, 60045251, 4),
 (1, 60045252, 4),
 (1, 60045281, 3),
 (1, 60045291, 4),
 (1, 60045361, 4),
 (5, 60045371, 4),
 (1, 60045431, 4),
 (1, 60045451, 4),
 (1, 60045461, 4),
 (1, 60045561, 5),
 (2, 60045561, 5),
 (1, 60045701, 4),
 (5, 60045791, 3),
 (1, 60045821, 4),
 (3, 60045841, 4),
 (2, 60045881, 4),
 (1, 60045911, 4),
 (1, 60045921, 4),
 (2, 60045921, 5),
 (2, 60045941, 4),
 (4, 60045951, 4),
 (1, 60046121, 4),
 (1, 60046411, 4),
 (2, 60046431, 4),
 (4, 60046431, 4),
 (1, 60046441, 4),
 (1, 60046481, 4),
 (2, 60046611, 4),
 (1, 60046681, 5),
 (2, 60046701, 5),
 (2, 60046741, 4),
 (1, 60046751, 4),
 (1, 60046761, 4),
 (1, 60046791, 5),
 (2, 60046861, 4),
 (1, 60046901, 5),
 (1, 60046941, 4),
 (1, 60046961, 4),
 (3, 60046991, 5),
 (1, 60047031, 3),
 (2, 60047031, 5),
 (4, 60047041, 4),
 (1, 60047091, 4),
 (2, 60047131, 5),
 (1, 60047141, 4),
 (1, 60047181, 4),
 (1, 60047191, 3),
 (1, 60047221, 4),
 (2, 60047221, 5),
 (2, 60047301, 5),
 (2, 60047311, 4),
 (1, 60047361, 4),
 (1, 60047401, 4),
 (2, 60047411, 4),
 (1, 60047441, 3),
 (1, 60047521, 4),
 (1, 60047571, 4),
 (3, 60047571, 4),
 (1, 60047661, 4),
 (1, 60047681, 4),
 (1, 60047781, 4),
 (1, 60047841, 4),
 (1, 60047891, 5),
 (1, 60048011, 4),
 (4, 60048031, 4),
 (3, 60048101, 4),
 (1, 60048161, 4),
 (3, 60048221, 5),
 (1, 60048291, 4),
 (3, 60048301, 4),
 (1, 60048331, 4),
 (4, 60048351, 5),
 (1, 60048371, 4),
 (3, 60048371, 4),
 (1, 60048461, 4),
 (2, 60048491, 4),
 (3, 60048531, 4),
 (3, 60048641, 4),
 (3, 60048691, 4),
 (5, 60048691, 4),
 (1, 60048911, 4),
 (5, 60048931, 4),
 (1, 60048951, 4),
 (1, 60049081, 4),
 (1, 60049101, 4),
 (1, 60049131, 3),
 (2, 60049161, 4),
 (1, 60049211, 4),
 (2, 60049291, 4),
 (1, 60049461, 4),
 (5, 60049461, 5),
 (1, 60049541, 4),
 (7, 60049541, 5),
 (6, 60049561, 5),
 (1, 60049581, 4),
 (1, 60049781, 5),
 (1, 60049861, 4),
 (1, 60049951, 4),
 (3, 60050001, 4),
 (1, 60050021, 5),
 (1, 60050051, 3),
 (1, 60050081, 5),
 (3, 60050081, 4),
 (4, 60050081, 4),
 (3, 60050201, 4),
 (1, 60050211, 5),
 (4, 60050211, 5),
 (1, 60050261, 3),
 (2, 60050341, 5),
 (3, 60050381, 5),
 (3, 60050481, 5),
 (3, 60050501, 5),
 (3, 60050531, 5),
 (1, 60050611, 4),
 (3, 60050721, 4),
 (1, 60050921, 5),
 (1, 60050931, 4),
 (3, 60050931, 4),
 (1, 60050951, 4),
 (1, 60051021, 5),
 (1, 60051071, 5),
 (1, 60051111, 5),
 (1, 60051371, 5),
 (4, 60051391, 5),
 (1, 60051401, 4),
 (4, 60051441, 5),
 (1, 60051451, 3),
 (1, 60051501, 4),
 (1, 60051581, 4),
 (5, 60051581, 5),
 (2, 60051611, 4),
 (1, 60051631, 5),
 (1, 60051631, 5),
 (5, 60051631, 5),
 (4, 60051671, 5),
 (2, 60051691, 4),
 (3, 60051711, 5),
 (1, 60051741, 4),
 (1, 60051861, 4),
 (3, 60051911, 4),
 (2, 60051921, 5),
 (4, 60051961, 5),
 (2, 60051971, 4),
 (4, 60051971, 5),
 (1, 60052011, 4),
 (1, 60052031, 4),
 (1, 60052071, 4),
 (1, 60052111, 4),
 (1, 60052121, 4),
 (1, 60052131, 5),
 (1, 60052161, 5),
 (1, 60052251, 3),
 (3, 60052291, 4),
 (1, 60052301, 4),
 (1, 60052381, 5),
 (1, 60052391, 4),
 (1, 60052421, 4),
 (2, 60052491, 4),
 (3, 60052671, 4),
 (1, 60052681, 4),
 (2, 60052681, 4),
 (1, 60052791, 4),
 (1, 60052851, 4),
 (1, 60052941, 4),
 (4, 60052971, 4),
 (1, 60053071, 4),
 (1, 60053091, 3),
 (1, 60053291, 4),
 (1, 60053701, 4),
 (1, 60053871, 5),
 (1, 60054051, 4),
 (3, 60054051, 5),
 (3, 60054061, 4),
 (2, 60054131, 5),
 (1, 60054291, 4),
 (3, 60054401, 5),
 (1, 60054421, 4),
 (1, 60054441, 4),
 (1, 60054461, 5),
 (1, 60054471, 3),
 (2, 60054531, 5),
 (1, 60054621, 5),
 (1, 60054761, 4),
 (1, 60054771, 5),
 (3, 60054771, 5),
 (1, 60054871, 5),
 (1, 60054941, 4),
 (1, 60054951, 4),
 (1, 60054961, 5),
 (1, 60055001, 4),
 (1, 60055011, 5),
 (1, 60055051, 4),
 (1, 60055061, 5),
 (3, 60055121, 5),
 (1, 60055141, 3),
 (1, 60055221, 4),
 (6, 60055221, 4),
 (4, 60055271, 4),
 (1, 60055351, 4),
 (1, 60055372, 5),
 (1, 60055391, 4),
 (3, 60055391, 4),
 (1, 60055451, 5),
 (1, 60055461, 4),
 (1, 60055471, 4),
 (2, 60055481, 5),
 (1, 60055491, 4),
 (2, 60055491, 4),
 (4, 60055491, 4),
 (1, 60055511, 4),
 (3, 60055541, 3),
 (4, 60055571, 5),
 ...]

### Almacena la tabla con las madres solteras en un archivo que se llama MadresSolteras.csv

In [10]:
%%sql
SELECT DISTINCT PM.ORDEN, PM.LLAVEHOG, P5502 as ESTADOCIVIL
INTO OUTFILE '/Users/sebastian/Codigos/TAE/Regresion\ lineal\ madres\ solteras/BD/MadresSolterasTemp.csv'
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
FROM PosiblesMadres as PM INNER JOIN Personas as P ON (PM.ORDEN = P.ORDEN and PM.LLAVEHOG = P.LLAVEHOG)
WHERE P5502 = 3 or P5502 = 4 or P5502 = 5

 * mysql+pymysql://root:***@localhost
2502 rows affected.

[]

### Elimina los archivos temporales que se necesitaban crear

In [11]:
%%bash
rm ordenMadres.csv OrdenPersonas.csv hijosPosiblesMadres.csv
echo "ORDEN,LLAVEHOG,ESTADOCIVIL" > BD/MadresSolterasTemp2.csv
cat BD/MadresSolterasTemp.csv >> BD/MadresSolterasTemp2.csv
cat BD/MadresSolterasTemp2.csv | tr -d '"' > BD/MadresSolteras.csv
rm BD/MadresSolterasTemp*.csv

### Cargar a una tabla los otros datos

In [12]:
%sql CREATE TABLE VariablesDeSatisfaccion(LLAVEHOG INT, ORDEN INT, DIRECTORIO INT, NoHijos INT, NvEducacion INT, TipoContrato INT, Salud INT, AguaPotable INT, Estrato INT, Satisfaccion INT);
%sql CREATE TABLE MadresSolteras(ORDEN INT, LLAVEHOG INT, ESTADOCIVIL INT);

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

### Carga los datos

In [13]:
%sql LOAD DATA INFILE '/Users/sebastian/Codigos/TAE/Regresion\ lineal\ madres\ solteras/BD/BDTodasColumnas.csv' INTO TABLE VariablesDeSatisfaccion FIELDS TERMINATED BY ',' LINES TERMINATED by '\n'  IGNORE 1 LINES (LLAVEHOG, ORDEN, DIRECTORIO, NoHijos, NvEducacion, TipoContrato, Salud, AguaPotable, Estrato, Satisfaccion);
%sql LOAD DATA INFILE '/Users/sebastian/Codigos/TAE/Regresion\ lineal\ madres\ solteras/BD/MadresSolteras.csv' INTO TABLE MadresSolteras FIELDS TERMINATED BY ',' LINES TERMINATED by '\n'  IGNORE 1 LINES (ORDEN, LLAVEHOG, ESTADOCIVIL);

 * mysql+pymysql://root:***@localhost
40359 rows affected.
 * mysql+pymysql://root:***@localhost
2502 rows affected.

[]

### Prueba del join de todas las variables de nuestro interés

In [14]:
%%sql

SELECT VS.LLAVEHOG, VS.ORDEN, VS.DIRECTORIO, MS.ESTADOCIVIL, VS.NoHijos, VS.NvEducacion, VS.TipoContrato, VS.Salud, VS.AguaPotable, VS.Estrato, VS.Satisfaccion
FROM VariablesDeSatisfaccion as VS INNER JOIN MadresSolteras as MS ON (VS.ORDEN = MS.ORDEN and VS.LLAVEHOG = MS.LLAVEHOG);

 * mysql+pymysql://root:***@localhost
2502 rows affected.

[(60000001, 3, 6000000, 4, 1, 5, 0, 1, 2, 1, 0),
 (60000021, 1, 6000002, 4, 2, 3, 2, 1, 1, 1, 1),
 (60000051, 3, 6000005, 4, 1, 0, 0, 1, 1, 1, 8),
 (60000131, 2, 6000013, 5, 1, 11, 2, 1, 6, 2, 8),
 (60000191, 5, 6000019, 4, 2, 3, 0, 1, 6, 1, 10),
 (60000301, 5, 6000030, 4, 1, 5, 0, 1, 1, 1, 9),
 (60000311, 3, 6000031, 5, 2, 4, 2, 1, 2, 1, 4),
 (60000341, 1, 6000034, 4, 1, 11, 0, 1, 4, 2, 9),
 (60000361, 1, 6000036, 4, 2, 4, 0, 1, 1, 2, 7),
 (60000361, 5, 6000036, 4, 1, 4, 0, 1, 1, 2, 9),
 (60000521, 2, 6000052, 5, 1, 0, 0, 1, 1, 1, 9),
 (60000531, 1, 6000053, 5, 2, 3, 0, 2, 2, 1, 8),
 (60000561, 1, 6000056, 5, 3, 5, 0, 1, 2, 3, 8),
 (60000561, 3, 6000056, 5, 3, 5, 0, 1, 2, 3, 8),
 (60000711, 1, 6000071, 4, 3, 1, 0, 1, 4, 1, 5),
 (60000711, 3, 6000071, 4, 1, 4, 0, 1, 4, 1, 10),
 (60000741, 1, 6000074, 5, 2, 7, 0, 1, 1, 1, 10),
 (60000881, 1, 6000088, 3, 3, 5, 0, 1, 1, 2, 10),
 (60000901, 1, 6000090, 4, 2, 4, 0, 1, 2, 2, 10),
 (60000901, 2, 6000090, 4, 1, 5, 0, 1, 2, 2, 10),
 (60000911, 2, 6000091, 4, 2, 5, 0, 1, 4, 2, 5),
 (60000991, 5, 6000099, 4, 1, 5, 0, 1, 1, 2, 9),
 (60001061, 6, 6000106, 4, 1, 5, 0, 1, 2, 1, 10),
 (60001101, 1, 6000110, 4, 2, 5, 0, 1, 1, 1, 7),
 (60001121, 2, 6000112, 4, 1, 5, 0, 1, 2, 1, 10),
 (60001181, 1, 6000118, 4, 2, 5, 0, 1, 1, 1, 10),
 (60001281, 1, 6000128, 4, 2, 3, 2, 1, 1, 1, 10),
 (60001291, 1, 6000129, 5, 1, 4, 2, 1, 1, 1, 8),
 (60001301, 1, 6000130, 4, 2, 5, 0, 1, 1, 1, 10),
 (60001301, 3, 6000130, 4, 1, 0, 0, 1, 1, 1, 10),
 (60001321, 1, 6000132, 4, 3, 3, 0, 1, 1, 1, 10),
 (60001321, 3, 6000132, 4, 1, 5, 0, 1, 1, 1, 10),
 (60001341, 3, 6000134, 5, 1, 11, 0, 2, 2, 1, 9),
 (60001381, 1, 6000138, 5, 2, 5, 0, 1, 1, 1, 3),
 (60001411, 5, 6000141, 5, 1, 7, 0, 1, 1, 1, 8),
 (60001531, 1, 6000153, 4, 2, 3, 2, 1, 1, 1, 9),
 (60001541, 1, 6000154, 4, 2, 4, 0, 2, 1, 1, 9),
 (60001591, 1, 6000159, 4, 2, 4, 0, 1, 1, 2, 9),
 (60001791, 2, 6000179, 4, 1, 5, 0, 1, 4, 3, 8),
 (60001851, 1, 6000185, 5, 2, 3, 0, 1, 1, 1, 10),
 (60001871, 1, 6000187, 4, 2, 4, 0, 1, 2, 1, 5),
 (60001871, 4, 6000187, 5, 1, 0, 0, 1, 2, 1, 7),
 (60001911, 2, 6000191, 4, 2, 5, 0, 1, 1, 1, 10),
 (60001921, 1, 6000192, 5, 3, 3, 0, 1, 2, 1, 8),
 (60001971, 1, 6000197, 5, 2, 3, 0, 9, 1, 1, 6),
 (60002041, 1, 6000204, 4, 2, 4, 0, 1, 1, 2, 5),
 (60002081, 1, 6000208, 4, 3, 3, 0, 1, 1, 2, 10),
 (60002131, 4, 6000213, 4, 1, 11, 0, 1, 4, 1, 10),
 (60002161, 2, 6000216, 4, 1, 7, 1, 1, 2, 2, 10),
 (60002201, 7, 6000220, 4, 1, 5, 0, 1, 1, 1, 10),
 (60002451, 3, 6000245, 5, 1, 5, 0, 1, 1, 3, 10),
 (60002461, 1, 6000246, 5, 1, 5, 0, 1, 1, 3, 8),
 (60002631, 4, 6000263, 4, 1, 3, 0, 1, 1, 1, 8),
 (60002721, 1, 6000272, 3, 2, 4, 1, 1, 1, 1, 7),
 (60002741, 2, 6000274, 4, 1, 5, 2, 1, 1, 1, 8),
 (60002771, 2, 6000277, 4, 1, 7, 0, 1, 1, 1, 8),
 (60002801, 4, 6000280, 5, 2, 5, 0, 1, 2, 1, 10),
 (60002831, 4, 6000283, 4, 1, 4, 0, 1, 6, 1, 8),
 (60002911, 1, 6000291, 4, 2, 0, 0, 1, 2, 1, 7),
 (60002931, 1, 6000293, 4, 2, 5, 0, 1, 2, 1, 8),
 (60003041, 1, 6000304, 4, 2, 13, 0, 1, 2, 3, 8),
 (60003091, 1, 6000309, 4, 2, 5, 2, 1, 2, 2, 7),
 (60003112, 1, 6000311, 4, 3, 5, 2, 1, 1, 2, 7),
 (60003131, 1, 6000313, 5, 3, 3, 2, 1, 2, 2, 8),
 (60003151, 2, 6000315, 5, 1, 5, 0, 1, 1, 1, 2),
 (60003201, 1, 6000320, 5, 2, 4, 0, 1, 1, 1, 5),
 (60003301, 1, 6000330, 4, 2, 5, 2, 2, 1, 1, 5),
 (60003321, 1, 6000332, 4, 3, 3, 0, 1, 1, 1, 5),
 (60003431, 5, 6000343, 4, 1, 0, 0, 1, 1, 3, 9),
 (60003471, 4, 6000347, 4, 1, 13, 0, 1, 2, 3, 9),
 (60003511, 1, 6000351, 4, 2, 4, 0, 1, 1, 1, 10),
 (60003511, 2, 6000351, 5, 1, 4, 0, 1, 1, 1, 10),
 (60003551, 1, 6000355, 4, 3, 3, 2, 1, 1, 1, 8),
 (60003551, 3, 6000355, 5, 1, 4, 2, 1, 1, 1, 9),
 (60003611, 1, 6000361, 3, 3, 5, 0, 1, 2, 3, 10),
 (60003681, 1, 6000368, 5, 3, 1, 0, 2, 1, 1, 10),
 (60003691, 4, 6000369, 5, 1, 7, 1, 1, 2, 1, 6),
 (60003741, 1, 6000374, 4, 2, 5, 0, 1, 2, 1, 10),
 (60003871, 3, 6000387, 4, 1, 5, 0, 1, 1, 2, 6),
 (60003961, 1, 6000396, 3, 3, 3, 0, 1, 1, 2, 10),
 (60004012, 1, 6000401, 4, 2, 4, 0, 1, 1, 3, 5),
 (60004111, 1, 6000411, 4, 2, 3, 2, 1, 1, 2, 7),
 (60004121, 1, 6000412, 5, 2, 11, 0, 1, 1, 2, 8),
 (60004163, 1, 6000416, 4, 2, 5, 0, 1, 1, 3, 10),
 (60004163, 2, 6000416, 4, 1, 0, 0, 1, 1, 3, 8),
 (60004241, 1, 6000424, 5, 2, 5, 0, 1, 1, 1, 10),
 (60004331, 1, 6000433, 3, 3, 5, 0, 1, 1, 2, 7),
 (60004331, 4, 6000433, 5, 1, 0, 0, 1, 1, 2, 10),
 (60004551, 1, 6000455, 4, 3, 3, 0, 1, 1, 1, 10),
 (60004601, 1, 6000460, 5, 2, 3, 2, 1, 1, 1, 8),
 (60004611, 1, 6000461, 4, 2, 3, 2, 1, 1, 1, 10),
 (60004631, 1, 6000463, 5, 2, 4, 0, 1, 2, 1, 10),
 (60004641, 5, 6000464, 5, 1, 3, 2, 1, 1, 1, 8),
 (60004721, 1, 6000472, 4, 2, 7, 0, 1, 1, 1, 9),
 (60004731, 1, 6000473, 4, 2, 4, 0, 1, 1, 1, 7),
 (60004771, 3, 6000477, 5, 2, 3, 0, 1, 2, 3, 6),
 (60004841, 3, 6000484, 5, 1, 0, 2, 1, 2, 3, 10),
 (60004861, 1, 6000486, 4, 2, 0, 2, 1, 2, 2, 7),
 (60004881, 3, 6000488, 5, 1, 5, 1, 1, 1, 3, 5),
 (60004981, 4, 6000498, 5, 1, 5, 0, 1, 2, 2, 9),
 (60005031, 1, 6000503, 5, 2, 0, 0, 1, 1, 2, 5),
 (60005071, 2, 6000507, 4, 1, 9, 0, 1, 2, 2, 7),
 (60005132, 1, 6000513, 4, 3, 5, 0, 1, 1, 1, 8),
 (60005181, 1, 6000518, 4, 3, 4, 0, 1, 1, 1, 6),
 (60005251, 1, 6000525, 4, 3, 3, 2, 1, 2, 2, 8),
 (60005251, 3, 6000525, 5, 1, 4, 2, 1, 2, 2, 8),
 (60005261, 3, 6000526, 5, 1, 7, 2, 1, 2, 1, 7),
 (60005291, 2, 6000529, 4, 2, 5, 0, 1, 4, 1, 5),
 (60005341, 1, 6000534, 4, 2, 4, 0, 1, 2, 2, 9),
 (60005521, 1, 6000552, 4, 2, 5, 0, 1, 2, 1, 6),
 (60005581, 1, 6000558, 4, 3, 3, 0, 1, 2, 2, 5),
 (60005691, 1, 6000569, 3, 3, 5, 0, 1, 2, 3, 10),
 (60005711, 1, 6000571, 5, 2, 4, 0, 1, 2, 1, 9),
 (60005721, 1, 6000572, 4, 2, 3, 0, 1, 2, 3, 8),
 (60005851, 1, 6000585, 4, 2, 3, 0, 1, 2, 1, 10),
 (60006031, 1, 6000603, 4, 2, 4, 0, 1, 2, 3, 7),
 (60006061, 2, 6000606, 5, 1, 0, 0, 1, 2, 2, 6),
 (60006091, 1, 6000609, 4, 1, 4, 2, 1, 2, 2, 7),
 (60006131, 3, 6000613, 4, 1, 5, 2, 1, 2, 2, 6),
 (60006151, 1, 6000615, 4, 2, 4, 0, 1, 2, 2, 6),
 (60006201, 1, 6000620, 4, 3, 3, 0, 1, 2, 2, 7),
 (60006321, 1, 6000632, 4, 2, 3, 2, 1, 2, 1, 8),
 (60006401, 1, 6000640, 5, 2, 5, 0, 1, 2, 2, 10),
 (60006611, 2, 6000661, 3, 3, 3, 0, 1, 1, 1, 10),
 (60006621, 5, 6000662, 5, 2, 5, 0, 1, 2, 1, 10),
 (60006661, 5, 6000666, 4, 1, 3, 0, 1, 1, 1, 7),
 (60006661, 7, 6000666, 5, 1, 3, 0, 1, 1, 1, 7),
 (60006731, 1, 6000673, 4, 2, 5, 0, 1, 1, 1, 5),
 (60006841, 2, 6000684, 5, 3, 5, 0, 1, 4, 2, 8),
 (60006921, 1, 6000692, 5, 2, 5, 2, 1, 6, 1, 3),
 (60006961, 1, 6000696, 5, 3, 5, 0, 1, 1, 2, 10),
 (60007051, 1, 6000705, 5, 2, 5, 0, 1, 2, 2, 10),
 (60007171, 1, 6000717, 3, 2, 3, 0, 1, 6, 2, 10),
 (60007201, 1, 6000720, 5, 2, 11, 0, 1, 1, 3, 9),
 (60007281, 1, 6000728, 5, 2, 5, 0, 1, 1, 3, 10),
 (60007301, 4, 6000730, 4, 1, 5, 0, 1, 2, 2, 8),
 (60007311, 1, 6000731, 4, 3, 3, 0, 1, 2, 2, 6),
 (60007351, 3, 6000735, 5, 1, 4, 0, 1, 1, 2, 10),
 (60007431, 1, 6000743, 4, 2, 3, 0, 1, 1, 2, 8),
 (60007481, 1, 6000748, 3, 3, 3, 0, 1, 1, 2, 10),
 (60007481, 4, 6000748, 4, 1, 4, 0, 1, 1, 2, 10),
 (60007571, 1, 6000757, 4, 3, 3, 2, 1, 1, 1, 5),
 (60007581, 1, 6000758, 4, 3, 4, 0, 1, 1, 1, 5),
 (60007631, 7, 6000763, 4, 2, 5, 0, 1, 4, 1, 9),
 (60007701, 3, 6000770, 4, 3, 4, 0, 1, 4, 2, 8),
 (60007751, 2, 6000775, 4, 1, 10, 0, 2, 2, 1, 7),
 (60007841, 1, 6000784, 4, 2, 5, 0, 1, 6, 1, 7),
 (60007841, 4, 6000784, 5, 2, 4, 0, 1, 6, 1, 7),
 (60007921, 1, 6000792, 4, 1, 0, 0, 1, 4, 1, 6),
 (60007941, 4, 6000794, 4, 1, 5, 2, 1, 6, 1, 8),
 (60008231, 4, 6000823, 4, 1, 5, 0, 1, 1, 1, 7),
 (60008231, 5, 6000823, 5, 1, 4, 0, 1, 1, 1, 7),
 (60008232, 1, 6000823, 4, 2, 0, 0, 1, 2, 1, 7),
 (60008233, 1, 6000823, 4, 2, 5, 0, 1, 1, 1, 5),
 (60008241, 1, 6000824, 4, 2, 4, 0, 1, 6, 1, 5),
 (60008251, 2, 6000825, 5, 2, 4, 0, 1, 2, 1, 8),
 (60008291, 2, 6000829, 4, 1, 5, 0, 1, 1, 1, 8),
 (60008301, 3, 6000830, 5, 1, 7, 0, 1, 4, 2, 9),
 (60008311, 10, 6000831, 4, 1, 0, 0, 1, 1, 2, 7),
 (60008311, 13, 6000831, 4, 1, 0, 0, 1, 1, 2, 5),
 (60008391, 1, 6000839, 4, 2, 5, 0, 1, 2, 1, 9),
 (60008391, 4, 6000839, 4, 2, 5, 0, 1, 2, 1, 9),
 (60008391, 8, 6000839, 4, 2, 5, 0, 1, 2, 1, 9),
 (60008421, 1, 6000842, 4, 3, 3, 0, 1, 1, 1, 6),
 (60008421, 3, 6000842, 4, 1, 5, 0, 1, 1, 1, 8),
 (60008431, 7, 6000843, 4, 1, 5, 2, 1, 1, 1, 7),
 (60008451, 3, 6000845, 4, 1, 3, 0, 1, 1, 1, 0),
 (60008451, 7, 6000845, 4, 1, 4, 0, 1, 1, 1, 5),
 (60008491, 1, 6000849, 4, 3, 5, 2, 1, 1, 1, 8),
 (60008521, 4, 6000852, 4, 1, 11, 0, 1, 4, 3, 9),
 (60008641, 2, 6000864, 5, 1, 7, 0, 1, 1, 2, 8),
 (60008711, 1, 6000871, 4, 2, 1, 2, 1, 1, 2, 10),
 (60008731, 1, 6000873, 4, 2, 5, 0, 2, 1, 2, 0),
 (60008851, 1, 6000885, 4, 2, 3, 2, 1, 6, 2, 9),
 (60009021, 1, 6000902, 4, 2, 4, 2, 1, 1, 1, 7),
 (60009061, 2, 6000906, 4, 1, 5, 2, 1, 1, 1, 9),
 (60009071, 1, 6000907, 4, 2, 3, 1, 1, 2, 1, 7),
 (60009111, 1, 6000911, 4, 2, 3, 0, 1, 1, 1, 10),
 (60009111, 4, 6000911, 4, 1, 4, 0, 1, 1, 1, 9),
 (60009121, 6, 6000912, 5, 2, 11, 0, 1, 1, 1, 8),
 (60009141, 1, 6000914, 3, 3, 5, 0, 1, 1, 1, 5),
 (60009231, 3, 6000923, 5, 3, 1, 0, 1, 1, 1, 8),
 (60009231, 6, 6000923, 4, 3, 4, 0, 1, 1, 1, 5),
 (60009241, 1, 6000924, 5, 2, 5, 0, 1, 1, 2, 2),
 (60009281, 1, 6000928, 4, 2, 11, 0, 1, 2, 2, 8),
 (60009341, 4, 6000934, 5, 1, 6, 0, 1, 1, 1, 8),
 (60009531, 1, 6000953, 4, 2, 3, 0, 1, 1, 1, 10),
 (60009551, 3, 6000955, 4, 1, 7, 2, 1, 2, 1, 10),
 (60009591, 1, 6000959, 4, 2, 0, 0, 1, 6, 1, 8),
 (60009591, 3, 6000959, 4, 2, 0, 0, 1, 6, 1, 9),
 (60009641, 1, 6000964, 3, 2, 10, 2, 2, 6, 3, 6),
 (60009731, 4, 6000973, 4, 1, 0, 2, 1, 6, 1, 10),
 (60009781, 1, 6000978, 4, 2, 4, 2, 1, 6, 2, 8),
 (60009791, 1, 6000979, 4, 2, 4, 0, 1, 1, 2, 10),
 (60009861, 1, 6000986, 4, 2, 5, 0, 1, 3, 1, 10),
 (60010061, 1, 6001006, 3, 2, 3, 0, 1, 1, 2, 8),
 (60010131, 1, 6001013, 4, 2, 5, 0, 1, 2, 2, 7),
 (60010151, 1, 6001015, 4, 2, 7, 1, 1, 1, 3, 10),
 (60010341, 1, 6001034, 4, 3, 10, 2, 1, 2, 4, 10),
 (60010351, 1, 6001035, 3, 2, 13, 0, 1, 2, 4, 5),
 (60010461, 1, 6001046, 5, 3, 4, 2, 1, 2, 3, 10),
 (60010501, 1, 6001050, 5, 2, 11, 0, 1, 6, 4, 7),
 (60010561, 1, 6001056, 4, 2, 11, 0, 1, 2, 2, 8),
 (60010671, 1, 6001067, 4, 2, 3, 2, 1, 1, 2, 8),
 (60010701, 1, 6001070, 4, 3, 4, 2, 1, 4, 2, 10),
 (60010761, 1, 6001076, 5, 1, 7, 2, 1, 1, 2, 5),
 (60010871, 1, 6001087, 5, 3, 5, 2, 1, 1, 1, 10),
 (60010881, 1, 6001088, 5, 2, 4, 0, 1, 1, 1, 10),
 (60010891, 1, 6001089, 5, 3, 9, 0, 1, 1, 1, 10),
 (60010891, 3, 6001089, 4, 1, 4, 2, 1, 1, 1, 10),
 (60010931, 2, 6001093, 4, 1, 7, 2, 1, 4, 4, 4),
 (60010941, 1, 6001094, 4, 3, 4, 0, 1, 1, 1, 10),
 (60010981, 1, 6001098, 4, 2, 5, 2, 1, 1, 2, 6),
 (60011001, 1, 6001100, 3, 2, 3, 0, 1, 2, 2, 10),
 (60011021, 1, 6001102, 5, 2, 1, 0, 1, 6, 1, 10),
 (60011031, 1, 6001103, 3, 2, 5, 2, 1, 6, 1, 5),
 (60011091, 1, 6001109, 5, 2, 0, 0, 1, 2, 9, 8),
 (60011231, 1, 6001123, 4, 3, 3, 0, 1, 1, 1, 9),
 (60011261, 2, 6001126, 5, 1, 5, 1, 1, 1, 2, 8),
 (60011321, 1, 6001132, 4, 3, 5, 0, 1, 1, 2, 9),
 (60011541, 1, 6001154, 3, 2, 3, 0, 1, 1, 1, 8),
 (60011541, 3, 6001154, 5, 1, 4, 1, 1, 1, 1, 8),
 (60011671, 1, 6001167, 5, 2, 5, 2, 1, 1, 1, 7),
 (60011701, 2, 6001170, 4, 1, 5, 0, 1, 6, 3, 8),
 (60011711, 1, 6001171, 4, 2, 1, 2, 1, 1, 0, 6),
 (60011711, 4, 6001171, 5, 1, 4, 0, 1, 1, 0, 7),
 (60011731, 1, 6001173, 3, 3, 5, 2, 1, 1, 1, 2),
 (60011771, 1, 6001177, 5, 2, 5, 0, 1, 1, 1, 9),
 (60011801, 1, 6001180, 4, 2, 1, 0, 1, 1, 1, 5),
 (60011891, 1, 6001189, 5, 2, 7, 0, 1, 1, 1, 8),
 (60012221, 1, 6001222, 4, 2, 5, 1, 1, 6, 1, 8),
 (60012351, 1, 6001235, 4, 2, 4, 2, 9, 1, 2, 3),
 (60012361, 3, 6001236, 5, 1, 11, 0, 1, 1, 2, 7),
 (60012411, 1, 6001241, 4, 2, 3, 0, 1, 1, 2, 1),
 (60012411, 5, 6001241, 4, 2, 5, 0, 1, 1, 2, 1),
 (60012421, 6, 6001242, 5, 1, 5, 0, 1, 1, 2, 8),
 (60012451, 1, 6001245, 3, 2, 3, 0, 1, 2, 2, 6),
 (60012501, 1, 6001250, 3, 3, 0, 0, 1, 2, 2, 9),
 (60012521, 1, 6001252, 4, 2, 5, 0, 1, 1, 1, 10),
 (60012551, 1, 6001255, 4, 2, 11, 2, 1, 2, 1, 7),
 (60012561, 1, 6001256, 4, 2, 4, 0, 1, 2, 1, 7),
 (60012571, 1, 6001257, 5, 2, 0, 0, 1, 6, 1, 7),
 (60013281, 1, 6001328, 4, 3, 4, 0, 2, 1, 0, 5),
 (60013301, 1, 6001330, 5, 2, 5, 2, 1, 1, 1, 8),
 (60013321, 5, 6001332, 4, 1, 4, 0, 1, 1, 1, 10),
 (60013461, 3, 6001346, 5, 1, 5, 0, 1, 2, 1, 10),
 (60013471, 3, 6001347, 5, 2, 3, 2, 2, 2, 1, 10),
 (60013491, 1, 6001349, 5, 3, 0, 0, 1, 1, 1, 6),
 (60013571, 1, 6001357, 5, 2, 11, 2, 1, 1, 3, 10),
 (60013611, 1, 6001361, 4, 2, 7, 0, 1, 4, 3, 10),
 (60013701, 1, 6001370, 5, 2, 4, 0, 1, 1, 3, 5),
 (60013701, 4, 6001370, 5, 1, 5, 0, 1, 1, 3, 10),
 (60013771, 6, 6001377, 5, 2, 7, 0, 1, 2, 2, 9),
 (60013831, 1, 6001383, 4, 3, 13, 0, 1, 1, 1, 10),
 (60013841, 1, 6001384, 5, 2, 5, 0, 1, 1, 2, 10),
 (60014011, 1, 6001401, 5, 2, 3, 0, 1, 2, 3, 8),
 (60014071, 1, 6001407, 4, 2, 5, 0, 1, 2, 3, 10),
 (60014111, 1, 6001411, 4, 2, 5, 2, 1, 6, 2, 7),
 (60014151, 1, 6001415, 4, 2, 3, 0, 1, 2, 2, 10),
 (60014151, 3, 6001415, 4, 1, 3, 0, 1, 2, 2, 5),
 (60014261, 1, 6001426, 4, 2, 3, 0, 1, 1, 2, 10),
 (60014411, 1, 6001441, 3, 2, 3, 0, 1, 1, 2, 10),
 (60014411, 3, 6001441, 4, 1, 5, 0, 1, 1, 2, 4),
 (60014491, 3, 6001449, 4, 1, 5, 0, 1, 2, 1, 9),
 (60014641, 1, 6001464, 4, 1, 5, 0, 1, 2, 1, 7),
 (60014681, 1, 6001468, 5, 2, 5, 0, 1, 6, 2, 8),
 (60014691, 1, 6001469, 4, 2, 4, 0, 1, 2, 2, 9),
 (60014721, 2, 6001472, 3, 3, 3, 0, 1, 2, 2, 10),
 (60014741, 3, 6001474, 4, 1, 0, 0, 1, 4, 2, 8),
 (60014771, 1, 6001477, 4, 2, 3, 0, 1, 1, 2, 8),
 (60014801, 1, 6001480, 5, 2, 5, 0, 1, 1, 2, 10),
 (60015051, 1, 6001505, 4, 3, 3, 2, 1, 1, 1, 6),
 (60015101, 3, 6001510, 4, 1, 4, 2, 1, 1, 1, 7),
 (60015131, 1, 6001513, 4, 2, 0, 0, 1, 2, 1, 8),
 (60015151, 1, 6001515, 4, 3, 0, 0, 1, 1, 1, 7),
 (60015201, 1, 6001520, 4, 2, 11, 1, 1, 4, 2, 9),
 (60015271, 3, 6001527, 5, 1, 11, 0, 1, 4, 4, 9),
 (60015291, 3, 6001529, 4, 1, 5, 0, 1, 1, 4, 8),
 (60015331, 1, 6001533, 4, 2, 3, 0, 1, 1, 1, 8),
 (60015451, 2, 6001545, 4, 2, 11, 2, 1, 4, 3, 10),
 (60015511, 3, 6001551, 4, 1, 13, 1, 1, 4, 3, 8),
 (60015781, 2, 6001578, 4, 2, 3, 2, 1, 1, 2, 9),
 (60015831, 3, 6001583, 3, 1, 11, 1, 1, 4, 3, 9),
 (60015901, 1, 6001590, 4, 3, 11, 2, 1, 1, 2, 10),
 (60015901, 4, 6001590, 5, 1, 9, 0, 1, 1, 2, 10),
 (60015951, 2, 6001595, 4, 1, 5, 2, 1, 1, 1, 7),
 (60016011, 3, 6001601, 4, 1, 5, 0, 1, 1, 1, 10),
 (60016051, 5, 6001605, 4, 1, 4, 0, 1, 1, 1, 10),
 (60016071, 1, 6001607, 4, 2, 3, 2, 1, 1, 1, 9),
 (60016091, 2, 6001609, 4, 2, 5, 2, 1, 1, 1, 7),
 (60016101, 3, 6001610, 5, 1, 5, 2, 1, 1, 2, 10),
 (60016411, 1, 6001641, 4, 2, 1, 2, 1, 2, 1, 7),
 (60016561, 3, 6001656, 3, 1, 3, 0, 1, 6, 1, 10),
 (60016571, 6, 6001657, 4, 1, 0, 0, 1, 3, 1, 10),
 (60016701, 1, 6001670, 4, 2, 3, 0, 1, 1, 1, 7),
 (60016751, 2, 6001675, 4, 1, 5, 2, 1, 3, 1, 8),
 (60016851, 1, 6001685, 4, 2, 0, 0, 1, 4, 2, 8),
 (60016881, 1, 6001688, 3, 3, 3, 2, 1, 2, 1, 8),
 (60016881, 2, 6001688, 4, 1, 4, 0, 1, 2, 1, 7),
 (60016921, 2, 6001692, 5, 2, 7, 0, 1, 5, 0, 8),
 (60016931, 1, 6001693, 4, 3, 3, 0, 1, 1, 1, 10),
 (60016931, 2, 6001693, 4, 1, 5, 2, 1, 1, 1, 10),
 (60016941, 4, 6001694, 4, 1, 5, 0, 1, 5, 1, 6),
 (60016991, 1, 6001699, 4, 3, 3, 0, 1, 2, 1, 3),
 (60017011, 1, 6001701, 4, 3, 3, 0, 1, 1, 1, 10),
 (60017071, 1, 6001707, 4, 2, 5, 0, 1, 1, 2, 10),
 (60017091, 2, 6001709, 4, 1, 5, 2, 1, 1, 2, 7),
 (60017201, 1, 6001720, 4, 3, 4, 0, 1, 1, 1, 6),
 (60017241, 5, 6001724, 4, 1, 5, 0, 1, 1, 1, 8),
 (60017281, 2, 6001728, 4, 1, 5, 0, 1, 1, 1, 10),
 (60017311, 1, 6001731, 4, 2, 4, 0, 1, 6, 1, 7),
 (60017391, 1, 6001739, 4, 2, 5, 2, 1, 6, 1, 10),
 (60017471, 1, 6001747, 4, 3, 5, 2, 1, 2, 2, 8),
 (60017491, 1, 6001749, 4, 3, 5, 2, 1, 6, 1, 9),
 (60017501, 3, 6001750, 4, 1, 5, 0, 1, 1, 1, 10),
 (60017681, 1, 6001768, 4, 3, 5, 0, 2, 3, 0, 8),
 (60017691, 1, 6001769, 4, 3, 5, 0, 1, 6, 0, 8),
 (60017811, 1, 6001781, 4, 3, 1, 0, 1, 6, 1, 5),
 (60017851, 1, 6001785, 4, 2, 4, 2, 1, 6, 1, 8),
 (60017871, 1, 6001787, 4, 2, 0, 0, 1, 6, 1, 9),
 (60017921, 1, 6001792, 4, 3, 3, 0, 1, 6, 1, 7),
 (60017991, 1, 6001799, 5, 2, 5, 0, 1, 6, 1, 10),
 (60018201, 1, 6001820, 3, 2, 6, 0, 1, 6, 2, 10),
 (60018301, 1, 6001830, 5, 3, 3, 0, 1, 2, 2, 7),
 (60018421, 1, 6001842, 5, 3, 3, 2, 1, 2, 2, 6),
 (60018471, 1, 6001847, 4, 2, 3, 0, 1, 1, 2, 8),
 (60018511, 1, 6001851, 3, 2, 5, 0, 1, 2, 4, 10),
 (60018591, 1, 6001859, 5, 2, 4, 2, 2, 6, 3, 8),
 (60018631, 2, 6001863, 5, 1, 0, 0, 1, 2, 2, 7),
 (60018641, 1, 6001864, 5, 2, 11, 2, 1, 6, 4, 8),
 (60018661, 1, 6001866, 4, 2, 13, 0, 1, 6, 4, 10),
 (60018731, 1, 6001873, 5, 1, 7, 0, 1, 6, 3, 6),
 (60018881, 4, 6001888, 5, 1, 5, 0, 1, 1, 2, 8),
 (60018921, 1, 6001892, 4, 2, 5, 0, 1, 5, 3, 10),
 (60019051, 4, 6001905, 4, 2, 3, 0, 1, 2, 2, 8),
 (60019131, 1, 6001913, 3, 2, 3, 0, 1, 2, 2, 9),
 (60019291, 1, 6001929, 5, 2, 7, 0, 1, 2, 2, 7),
 (60019471, 4, 6001947, 4, 2, 3, 2, 1, 6, 2, 8),
 (60019511, 1, 6001951, 4, 2, 3, 0, 1, 1, 1, 8),
 (60019561, 1, 6001956, 4, 2, 7, 0, 1, 6, 3, 10),
 (60019721, 1, 6001972, 4, 2, 7, 2, 1, 6, 2, 10),
 (60019821, 1, 6001982, 4, 2, 3, 2, 1, 1, 1, 10),
 (60019861, 1, 6001986, 4, 1, 5, 0, 1, 6, 2, 8),
 (60019861, 4, 6001986, 4, 2, 3, 0, 1, 6, 2, 8),
 (60019981, 1, 6001998, 4, 3, 3, 0, 1, 1, 3, 9),
 (60020091, 2, 6002009, 4, 1, 5, 0, 1, 1, 2, 8),
 (60020181, 1, 6002018, 4, 3, 3, 2, 1, 1, 2, 10),
 (60020191, 1, 6002019, 4, 3, 3, 2, 1, 1, 1, 9),
 (60020211, 1, 6002021, 5, 3, 5, 2, 1, 1, 2, 8),
 (60020221, 1, 6002022, 5, 3, 3, 0, 2, 1, 0, 5),
 (60020271, 3, 6002027, 5, 1, 5, 0, 2, 1, 1, 8),
 (60020341, 1, 6002034, 5, 2, 5, 2, 1, 1, 3, 7),
 (60020391, 1, 6002039, 4, 2, 5, 2, 1, 1, 2, 10),
 (60020511, 1, 6002051, 4, 2, 10, 0, 1, 2, 2, 9),
 (60020561, 1, 6002056, 4, 3, 5, 2, 1, 1, 1, 6),
 (60020791, 1, 6002079, 4, 2, 5, 0, 2, 3, 1, 8),
 (60020811, 1, 6002081, 4, 2, 3, 2, 1, 1, 1, 9),
 (60020861, 1, 6002086, 5, 3, 1, 0, 1, 1, 1, 8),
 (60020861, 2, 6002086, 5, 1, 4, 0, 1, 1, 1, 10),
 (60020861, 4, 6002086, 5, 1, 4, 2, 1, 1, 1, 7),
 (60020871, 4, 6002087, 5, 2, 11, 0, 1, 2, 3, 10),
 (60020881, 4, 6002088, 5, 1, 4, 0, 1, 1, 3, 9),
 (60020891, 4, 6002089, 5, 2, 0, 0, 1, 1, 3, 8),
 (60020911, 1, 6002091, 4, 2, 5, 2, 1, 2, 3, 6),
 (60020921, 4, 6002092, 5, 1, 11, 0, 1, 4, 3, 8),
 (60021071, 1, 6002107, 4, 2, 5, 0, 1, 1, 1, 7),
 (60021101, 1, 6002110, 4, 3, 5, 0, 1, 1, 1, 6),
 (60021111, 1, 6002111, 4, 2, 5, 0, 1, 1, 1, 10),
 (60021121, 1, 6002112, 4, 2, 3, 0, 1, 2, 1, 8),
 (60021151, 1, 6002115, 4, 2, 7, 2, 1, 4, 1, 10),
 (60021181, 1, 6002118, 3, 3, 1, 0, 1, 1, 1, 10),
 (60021211, 1, 6002121, 4, 2, 5, 2, 1, 2, 1, 10),
 (60021221, 1, 6002122, 4, 2, 11, 0, 1, 4, 1, 10),
 (60021231, 1, 6002123, 4, 2, 5, 0, 1, 2, 1, 10),
 (60021281, 1, 6002128, 4, 2, 0, 2, 1, 6, 1, 9),
 (60021291, 1, 6002129, 4, 3, 5, 0, 1, 1, 1, 10),
 (60021301, 1, 6002130, 3, 2, 5, 0, 1, 6, 1, 10),
 (60021511, 1, 6002151, 4, 2, 4, 0, 1, 1, 1, 10),
 (60021541, 1, 6002154, 4, 3, 1, 2, 1, 1, 1, 5),
 (60021571, 1, 6002157, 3, 2, 5, 0, 1, 2, 1, 8),
 (60021581, 1, 6002158, 3, 3, 3, 0, 1, 2, 2, 10),
 (60021601, 1, 6002160, 5, 1, 3, 0, 1, 1, 1, 10),
 (60021641, 1, 6002164, 5, 2, 13, 0, 1, 4, 2, 10),
 (60021681, 1, 6002168, 4, 3, 5, 2, 2, 2, 2, 10),
 (60021711, 1, 6002171, 3, 3, 5, 0, 1, 1, 3, 8),
 (60021711, 3, 6002171, 4, 1, 6, 0, 1, 1, 3, 9),
 (60021721, 1, 6002172, 5, 3, 0, 0, 1, 1, 3, 8),
 (60021851, 3, 6002185, 5, 1, 5, 2, 1, 2, 2, 9),
 (60022031, 1, 6002203, 5, 2, 0, 0, 1, 1, 3, 7),
 (60022141, 4, 6002214, 4, 1, 0, 0, 1, 1, 2, 9),
 (60022191, 1, 6002219, 4, 2, 5, 0, 1, 2, 2, 9),
 (60022201, 2, 6002220, 4, 1, 4, 0, 1, 1, 2, 8),
 (60022341, 1, 6002234, 4, 2, 5, 0, 1, 2, 2, 10),
 (60022381, 1, 6002238, 3, 2, 7, 0, 1, 2, 3, 8),
 (60022431, 1, 6002243, 4, 3, 5, 0, 1, 1, 2, 9),
 (60022451, 1, 6002245, 4, 2, 0, 0, 1, 1, 3, 7),
 (60022461, 1, 6002246, 3, 3, 3, 0, 1, 2, 3, 10),
 (60022511, 1, 6002251, 4, 2, 4, 2, 1, 1, 2, 9),
 (60022561, 1, 6002256, 4, 2, 9, 0, 1, 1, 2, 5),
 (60022571, 2, 6002257, 5, 1, 11, 2, 1, 1, 2, 10),
 (60022621, 4, 6002262, 4, 1, 5, 0, 1, 1, 1, 8),
 (60022661, 2, 6002266, 3, 1, 7, 2, 1, 1, 2, 9),
 (60022691, 4, 6002269, 3, 2, 3, 0, 1, 1, 3, 10),
 (60022761, 1, 6002276, 5, 2, 3, 2, 1, 1, 2, 0),

### Almacena el join para realizar la regresión lineal

In [15]:
%%sql
SELECT VS.LLAVEHOG, VS.ORDEN, VS.DIRECTORIO, MS.ESTADOCIVIL, VS.NoHijos, VS.NvEducacion, VS.TipoContrato, VS.Salud, VS.AguaPotable, VS.Estrato, VS.Satisfaccion
INTO OUTFILE '/Users/sebastian/Codigos/TAE/Regresion\ lineal\ madres\ solteras/BD/RegresionLineal.csv'
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
FROM VariablesDeSatisfaccion as VS INNER JOIN MadresSolteras as MS ON (VS.ORDEN = MS.ORDEN and VS.LLAVEHOG = MS.LLAVEHOG);

 * mysql+pymysql://root:***@localhost
2502 rows affected.

[]

### Estructura familiar

In [16]:
%%bash
# Hijos de posibles madres solteras
#head -n 2 BD/Caracteristicas\ y\ composicion\ del\ hogar.csv
cut -d, -f4,7,9,11,12,20,21,23,24,38 BD/Caracteristicas\ y\ composicion\ del\ hogar.csv > EstructuraFamiliarTemp.csv
cat EstructuraFamiliarTemp.csv | sed 's/1.79769313486232e+308/0/g' | tr -d '"' > BD/EstructuraFamiliar.csv
head -n 5 BD/EstructuraFamiliar.csv
rm EstructuraFamiliarTemp.csv

ORDEN,P6020,P6051,P6071,P6071S1,P6081,P6081S1,P6083,P6083S1,LLAVEHOG
1,1,1,1,2,3,0,3,0,60000001
2,2,2,1,1,3,0,2,0,60000001
3,2,3,0,0,1,1,1,2,60000001
4,2,4,0,0,2,0,1,3,60000001

### Crea la tabla en SQL para todas las familias

In [17]:
%sql CREATE TABLE EstructuraFamiliar(ORDEN INT, P6020 INT, P6051 INT, P6071 INT, P6071S1 INT, P6081 INT, P6081S1 INT, P6083 INT, P6083S1 INT, LLAVEHOG INT);
%sql LOAD DATA INFILE '/Users/sebastian/Codigos/TAE/Regresion\ lineal\ madres\ solteras/BD/EstructuraFamiliar.csv' INTO TABLE EstructuraFamiliar FIELDS TERMINATED BY ',' LINES TERMINATED by '\n'  IGNORE 1 LINES (ORDEN, P6020, P6051, P6071, P6071S1, P6081, P6081S1, P6083, P6083S1, LLAVEHOG);

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
40359 rows affected.

[]

In [18]:
%%sql
SELECT *
INTO OUTFILE '/Users/sebastian/Codigos/TAE/Regresion\ lineal\ madres\ solteras/BD/EstructuraFamiliarTemp.csv'
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
FROM EstructuraFamiliar
WHERE LLAVEHOG in (SELECT LLAVEHOG FROM MadresSolteras)

 * mysql+pymysql://root:***@localhost
8997 rows affected.

[]

In [19]:
%%bash
echo "ORDEN,sexo,parentesco,conyugue,conyugueNo,padre,padreNo,madre,madreNo,LLAVEHOG" > BD/EstructuraFamiliarTemp2.csv
cat BD/EstructuraFamiliarTemp.csv >> BD/EstructuraFamiliarTemp2.csv
cat BD/EstructuraFamiliarTemp2.csv | tr -d '"' > BD/EstructuraFamiliar.csv
rm BD/EstructuraFamiliarTemp*.csv